
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Contact</title>
</head>
<body>
    <form method="post" action="~/Dict/AddSave">
        <label>Enter name: </label> <input type="text" name="lastname" />
        <br /><br />
        <label>Enter phone: </label> <input type="text" name="phone" />
        <br /><br />
        <input type="submit" value="Add" />
    </form>
</body>
</html>
