@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LR4</title>
</head>
<body>
    <div>
        <form method="get" action="~/Dict/Add"><input type="submit" value="Add contact" /></form>
        <hr />
        @foreach (var item in ViewBag.PhoneBooks)
        {
            <p>Name: @item.LastName</p>
            <p>Phone: @item.Number</p>
            <table>
                <tr>
                    <td>
                        <form method="get" action="~/Dict/Update">
                            <input type="submit" value="Update" />
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>

                    <td>
                        <form method="get" action="~/Dict/Delete">
                            <input type="submit" value="Delete" />
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                </tr>
            </table>
            <hr />
        }
    </div>
</body>
</html>
